body{
    background-color: #D3D3D3;
}

.cabecalho {
    border: solid 2px rgb(0, 71, 179);
    height: 200px;
    background-color: #FBE7C6;
    display: flex;
    justify-content: space-between; /* Deixa as img em cada lado */
    text-align: center;
    align-items: center;
    color: oklab(41.879% -0.10979 0.08387);
    font-size: 20pt;
    
}
.img1 {
    height: 200px;
}

.b_cabecalho p {
    word-spacing: 120px;
    border: solid 2px #89C4F4;
    background-color:#89C4F4 ;
    align-items: center;
    text-align: center;
    padding: 20px;
    position:relative;
    top: -16px;
    color: #7B2D2D;
    font-weight: bold; 
    font-size: 16pt;
}

.titulo {
    text-align: center;
    font-size: 25pt;
}

.paragrafo_20pt{
    font-size: 20pt;
    font-family: sans-serif;
    color: #7226a8;
}

.container_livros {
    height: 400px;
    width: 500px;
    gap: 100px; /* Define o espaçamento exato e seguro entre os livros */
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Mantém o bloco inteiro no centro, logo, o item do meio fica no centro da tela */
    padding: 20px;
}


.container_videos {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 100px;
    padding: 0px; /* espaçamento superior e inferior do container */
    margin-bottom: 80px;
}

.tabela{
    border: dashed 5px red;
    margin: 0 auto;
}
.tabela th{
    color: red;
}
.tabela th,
.tabela td {
    border: solid 1px red;
    justify-content: center;
    padding: 8px;
}

.container_amarelo {
    border: solid 1px #FFFF00;
    background-color: #FFFF00; 
    width: 100%; 
    max-width: 600px;  
    margin: 0px auto; /* Centraliza o bloco na tela */
    /* width: fit-content; ele ignora a regra de ocupar 100% da tela */
    margin-bottom: 30px;
    margin-top: 50px;
}
.container_amarelo a {
    color: #7B2D2D;
    font-weight: bold; 
} 
.container_amarelo p,
.container_amarelo ul {
    margin-top: 0px;  /* Margem superir */
    margin-bottom: 0px; /* Margem inferior */
} 
.link_li  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.rodape,
.img_roda {
    border: solid 1px #F9E1C4;
    background-color: #F9E1C4;
    height: 125px;
    display: flex;
    justify-content: space-between;
    font-family: Comic Sans MS;
    font-size: 15pt;
    padding-top: 5px;
    padding-bottom: 15px;
}
