body {
    background-color: rgb(202, 188, 188);
}
a:hover {
    color: darkgreen;
}
.tabela {
    width: 25%; /* largura das tabelas */
    
}
.tabela th,
.tabela td {
    border: 1px solid #ddd; /* Cria linhas das colunas */
    padding: 8px; /* tamanho da coluna principal */
    text-align: left;
}
td,
th{
    font-size: 16pt;
}
