body{
    background-color: #D3D3D3;
}

.cabecalho {
    border: solid 2px rgb(0, 71, 179);
    height: 200px;
    background-color: #FBE7C6;
    display: flex;
    justify-content: space-between; /* Deixa as img em cada lado */
    text-align: center;
    align-items: center;
    color: oklab(41.879% -0.10979 0.08387);
    font-size: 20pt;
    
}
.img1 {
    height: 200px;
}

.b_cabecalho p {
    word-spacing: 120px;
    border: solid 2px #89C4F4;
    background-color:#89C4F4 ;
    align-items: center;
    text-align: center;
    padding: 20px;
    position:relative;
    top: -16px;
    color: #7B2D2D;
    font-weight: bold; 
    font-size: 16pt;
}

.titulo {
    text-align: center;
    font-size: 25pt;
}

.paragrafo_20pt{
    font-size: 20pt;
    font-family: sans-serif;
    color: #4B0082;
}

.img_livos,
.container_livros {
    display: flex;
    height: 400px;
    width: 500px;
    gap: 100px;
    position: relative;
    left: 24%;
}

.link,
.container_videos {
    display: flex;
    position: relative ;
    left: 15%;
    gap: 100px;
}

.tabela{
    border: dashed 3px red;
    position: relative;
    /* justify-items: center; */
    left: 40%;
}
.tabela th{
    color: red;
}
.tabela th,
.tabela td {
    border: solid 1px red;
    justify-content: center;
    padding: 8px;
}
 
.paragrfo_lista {
    
}

.rodape,
.img_roda {
    height: 100px;
}
