body {
    background-color: rgb(214, 252, 247);
}
a:hover {
    color:rgb(214, 124, 22);
}
#div1 {
    color: rgb(172, 13, 172);
    font-size: 18pt;
}
.pt18 {
    font-size: 18pt;
}
.lista {
    font-family: sans-serif; /* Negrito */
    color: rgb(11, 78, 165);
    font-size: 16pt;
}
li::marker {  /* deixar somente os numeros da tabela "li" */
    color: rgb(92, 25, 155); 
}
.imagem {
    border-radius: 15px; 
    border-left: 20px;
}
p {
    font-size: 16pt;
}
h3{
    font-size: 18pt;
}
.caixa_fixa {
    font-size: 16pt;
    position: fixed;
    bottom: 20px;  /* Espaçamento do fundo */
    right: 20px;   /* Espaçamento da direita */
    width: 250px;
    padding: 15px;
    background-color: #3eced3;
    color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 1000; /* Garante que fique acima de outros elementos */
}