body {
    background-color: rgb(202, 188, 188);
}

#titulo {
    display: flex;
    flex-direction:row ;
    justify-content: center;
    
}
a:hover {
    color: darkgreen;
}
.tabela {
    width: 500px; /* largura das tabelas */
    margin: auto;
    
}
.tabela th,
.tabela td {
    border: 1px solid #ddd; /* Cria linhas das colunas */
    padding: 8px; /* tamanho da coluna principal */
    text-align: left;
}
td,
th{
    font-size: 16pt;
}
